In [1]:
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import pandas as pd

In [2]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'
# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

In [3]:
# Print formatted version of the soup
news_title = soup.title.text

In [4]:
news_p = soup.p.text

In [5]:
print(news_title)
print(news_p)

News  – NASA’s Mars Exploration Program
Managed by the Mars Exploration Program and the Jet Propulsion Laboratory for NASA’s Science Mission Directorate

In [6]:
executable_path = {'executable_path': './chromedriver.exe'}
browser = Browser('chrome',  **executable_path, headless=False)

In [7]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [8]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
anchors = soup.find_all('a',class_='button fancybox')
anchors_href = anchors[0]['data-fancybox-href']
featured_image_url = "https://www.jpl.nasa.gov" + anchors_href

In [17]:
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16682_ip.jpg

In [9]:
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

In [10]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
weaths = soup.find('p',class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")
mars_weath = weaths.text

In [11]:
url="https://space-facts.com/mars/"

In [12]:
tables = pd.read_html(url)
df=tables[0]

````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````

In [13]:
# print(df)
df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [22]:
#table_html = df.to_html()

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars - Earth Comparison</th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Temperature:</td>
      <td>-153 to 20 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [15]:
url="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [16]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
phlinks = soup.find_all('div',class_='item')
hem_img_urls = []
for phlink in phlinks:
    lnk = "https://astrogeology.usgs.gov"+phlink.a["href"]
    browser.visit(lnk)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    i = soup.find('img',class_='wide-image')
    img_url = 'http://astrogeology.usgs.gov' + i['src']
    title = soup.title.text
    hem_dict = { 'title' : title, 'img_url': img_url }
    hem_img_urls.append(hem_dict)